.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

body, .App {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

.App-link {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  background-color: #0c1546;
  padding: 20px 20px 20px 20px;
  text-align: center;
  width: 97.3%;
  color: #ffffff;
  margin-top: -100px;
}

.upload-instruction {
  margin: 0;
  font-size: 0.8em;
  color: #888;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #0073e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #005bb5;
}

.App-footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

.App-footer a:hover {
  color: #0073e6;
}

.Home h2 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

.MemberService {
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

.About {
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin-top: 10px;
}
